.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  border-radius: 8px;
  width: 190px;
  height: 190px;
  margin-right: 20px;
  object-fit: cover;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  max-width: 420px;
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__description {
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  opacity: 0.7;
  max-width: 420px;
  margin: 0;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__edit-btn {
  color: #212121;
  cursor: pointer;
  opacity: 0.7;
  font-weight: 500;
  margin-top: auto;
  background-color: #fcf5e5;
  border: none;
  font-size: 16px;
  display: flex;
  gap: 8px;
  padding: 0;
}

.profile__edit-btn:hover {
  opacity: 1;
}

.profile__add-btn {
  border: none;
  cursor: pointer;
  margin-left: auto;
  width: 149px;
  height: 52px;
  background-color: #212121;
  border-radius: 8px;
  margin-top: auto;
  color: #fcf5e5;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.profile__add-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin-right: 0;
    height: 80px;
    width: 80px;
    margin: 0 0 12px;
  }

  .profile__name {
    max-width: 288px;
    font-size: 20px;
    margin: 0 0 6px;
  }

  .profile__description {
    max-width: 288px;
    margin: 0 0 32px;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__add-btn {
    height: 52px;
    width: 100%;
    margin: 0;
  }

  .profile__edit-btn {
    align-self: center;
  }
}
